.container {
  width: 1000px;
  margin: 0 auto
}

#grid {
  display: grid;
  grid-template-rows: repeat(50, 15px);
  grid-template-columns: repeat(50, 15px);

  margin: 0 auto;
}

.box {
  border: 1px solid darkolivegreen;
  background-color: gray;
}

.alive {
  background-color: lightgray;
}

button {
  margin: 10px;
}

#iterations {
  display: inline-block;
}